
.json-viewer {
    --font-family--mono: menlo, monospace;
    --color-blue--100: #EDF7FA;
    --color-mono--700: #383838;
    --color-yellow--700: #B36B00;
    --color-blue--700: #1C6285;
    --color-red--700: #802629;
    --color-brand-blue--600: #0D626E;
}
