.json-viewer {
    font-family: var(--font-family);
    line-height: 1.6;
}

.json-viewer--collapsed {
    color: grey;
    cursor: pointer;
    background-color: var(--preview-background);
    /* font-style: italic; */
}

.json-viewer__child-value {
    margin-left: 4ch;
}

.json-viewer__key {
    color: var(--object-property-color);
    color: var(--key-color);
}

.json-viewer__key:after {
    content: ': ';
}

.json-viewer--string {
    color: var(--string-value-color);
}

.json-viewer--number {
    color: var(--numeric-value-color);
}

.json-viewer--null {
    color: var(--null-value-color);
}

.json-viewer--bool {
    color: var(--boolean-value-color);
}

.json-viewer__child-value {
    position: relative;
}

.json-viewer__toggle {
    position: absolute;
    left: -2ch;
    top: 0;
    width: 1ch;
    height: 20px;
    color: var(--toggle-color);
    cursor: pointer;
    display: inline-flex;
    height: 1.6em;
    align-items: center;
}

.json-viewer__toggle:before {
    content: var(--collapsed-node-bullet);
    display: block;
    position: relative;
    top: var(--adjust-bullet-top);
}

.json-viewer__toggle--expanded:before {
    content: var(--expanded-node-bullet);
    display: block;
    position: relative;
    top: var(--adjust-bullet-top);
}

.json-viewer__key--expandable {
    cursor: pointer;
}
